.adduser, .displayuser{
  width: 90vw;
  height: 30vh;
  padding: 3rem;
  margin-left: 1.3rem;
}
.adduser{
  border: 2px solid black;
}
.adduser input{
  width: 30%;
  height: 2rem;
  margin-bottom: 1rem;
  display: block;
  outline: none;
}
.adduser input:focus{
  outline: none;
}
.adduser button{
  width: 30%;
  height: 2rem;
  margin-top: 1rem;
}
.displayuser{
  margin-top: 2rem;
  border: 2px solid blue;
}